<section class="section">
  <h1 class="title">ホーム</h1>

  <div class="field is-grouped">
    <div class="control">
      <%=
        link_to(
          "Get OAuth Token",
          new_oauth_authorization_path,
          class: "button",
        )
      %>
    </div>
  </div>
</section>
